body{
     font-family: 'Courier New', Courier, monospace;
     margin-left: 0%; 
     width: 100%;
}

.titul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 1%;
}
.titul img{
    width: 75px;
}

.titul span{
    font-size: xx-large;
    
}


.menu{
    background-color: grey;
    padding: 2%;
    display: flex;
    width: 96%;
   
    
}
.dropdown {
    position: relative;   /* referencia para el absolute */
    margin-left: 1%;
}

.dropdown-content {
    position: absolute;   /* lo saca del flujo */
    top: 100%;            /* aparece debajo del botón */
    left: 0;
    

    min-width: 100%;          /* Como mínimo, que mida lo mismo que el botón */
    width: max-content;
    white-space: nowrap; 

    background-color: gray;
    
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;

    pointer-events: none;
}   

.dropdown:hover .dropdown-content {
    
     opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    
}
.dropbtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none; 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.dropdown>a{
    color: white;
    text-decoration: none;
}
.dropdown-content>a{
    color: white;
    padding-top: 10%;
    text-decoration: none;
}
.home{
    display: flex;
    align-items:flex-start;
    gap: 20px;
    color: white;
}
.home >img{
    width: 30px;
}
.home>a{
    color: white;
    text-decoration: none;
}
.texto{
    width: 45%;
    padding: 1%;
    margin-left: 4%;
}
.junto{
    margin-top:  20px ;
    margin-bottom: 20px;
    display: flex;
}
.image1{
    width: 30%;
    margin-left: 20px;
}
.image2{
    
    width: 20%;
}
.image2-f{
    display: flex;
    justify-content:center;
}
.footer{
    background-color: gray;
    display: flex;
    justify-content: center;
    
    height: 25px;
}
